<!DOCTYPE html>
<html>
  <head>
    <title>Turnier Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div id="container">
        <img src="/images/chess-banner-thin.jpg" alt="" width="940" height="140">
        <div class="dashboard-menu-left">
            <a href="/admin/setup">Turnier Setup</a>
            <a href="/admin/allplayer">Spieler Liste</a>
            <a href="/admin/userlist">Nutzer-Verwaltung</a>
        </div>
        
        <div class="dashboard-menu-right">
            <div class="dropdown">
                <button class="dropbtn"><%=userid%>&nbsp;&nbsp;</button>
                <div class="dropdown-content">
                  <a href="/admin/password">Passwort ändern</a>
                  <a href="/logout">Logout</a>
                </div>
            </div> 
        </div>

        <div class="dashboard-headings">
          <h1>Turnierleiter Dashboard</h1>
          <h3><%= tournament.name %></h3>
        </div>
        <%
            var males = 0, females = 0, waitlisted = 0;
            for (i = 0; i < players.length; i++) {
                if (players[i].Sex == "male") males++; else 
                if (players[i].Sex == "female") females++;
                if (players[i].status == "waitlisted") waitlisted++; 
            }
        %>

        <div class="container">
            <div class="tile blue">
                <div class="header">
                    <div class="count"><%=tournament.groups.length%></div>
                    <div class="title">Gruppen</div>
                </div>
                <div class="body">
                    <div class="title">im Turnier definiert</div>
                </div>
            </div>
            <div class="tile ltgreen">
                <div class="header">
                    <div class="count"><%=players.length%></div>
                    <div class="title">Spieler</div>
                </div>
                <div class="body">
                    <div class="title">bereits angemeldet</div>
                </div>
            </div>
            <div class="tile wide green">
                <div class="header">
                <div class="left">
                    <div class="count"><%=males%></div>
                    <div class="title">männliche</div>
                </div>
                <div class="right">
                    <div class="count"><%=females%></div>
                    <div class="title">weibliche</div>
                </div>
                </div>
                <div class="body">
                    <div class="title">Spieler angemeldet</div>
                </div>
            </div>
            <div class="tile orange">
                <div class="header">
                    <div class="count"><%=waitlisted%></div>
                    <div class="title">Spieler</div>
                </div>
                <div class="body">
                    <div class="title">auf Warteliste</div>
                </div>
            </div>
        </div>
        <br style="clear:both">
        
        <%- include partials/footer.ejs %>
      </div>
  </body>
</html>