<!DOCTYPE html>
<html>
  <head>
    <title>Turnier Setup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div  id="container">
        <img src="/images/chess-banner.jpg" alt="" width="940" height="243">
        <h1>Turnier Setup</h1>
        <form class="setupform" id="formTournamentSetup" name="setup" method="post" action="/admin/setup">
            <div style="float:left;margin-right:20px;">
            <label for="name">Turniername</label>
            <input id="name" class="input" type="text" placeholder="Turniername" name="name" value="<%= data.docs[0].tournament.name %>"/>
            </div>
            <div style="float:left">
                <label for="date">Date</label>
                <input id="date" class="input" type="text" placeholder="Datum" name="date" value="<%= data.docs[0].tournament.date %>"/>
            </div>
            <br style="clear:both">
            <div style="float:left;margin-right:20px;">
                <label for="location">Ort</label>
                <input id="location" class="input" type="text" placeholder="Ort" name="location" value="<%= data.docs[0].tournament.location %>"/>
            </div>    
            <div style="float:left">
                <label for="capacity">Kapazität, 0 = &infin;</label>
                <input id="capacity" class="input" type="number" placeholder="100" name="capacity" value="<%= data.docs[0].tournament.capacity %>"/>  
            </div>
            <br style="clear:both">
            <label for="description">Beschreibung</label>
            <input id="description" class="input-long" type="text" placeholder="Beschreibung" name="description" value="<%= data.docs[0].tournament.description %>"/>
            <label for="announcement">Ausschreibung</label>
            <input id="announcement" class="input-long" type="text" placeholder="Ausschreibung" name="announcement" value="<%= data.docs[0].tournament.url %>"/>
            <%
            var groups = "";
            for (i=0; i< data.docs[0].tournament.groups.length-1; i++) { 
                groups += data.docs[0].tournament.groups[i] + ", ";
            }
            if (i < data.docs[0].tournament.groups.length) groups += data.docs[0].tournament.groups[i];
            %>
            <label for="groups">Turniergruppen</label>
            <input id="groups" class="input-long" type="text" placeholder="Turniergruppen (mit , getrennt)" name="groups" value="<%= groups %>"/>
            <input type="hidden" id="_id" name="_id" value="<%= data.docs[0]._id %>">
            <input type="hidden" id="_rev" name="_rev" value="<%= data.docs[0]._rev %>"> 
            <button id="btnSubmit" name="submit" class="blue-button" value="update">Turnier Setup aktualisieren</button>
            <button id="btnSubmit" name="submit" class="red-button" value="init">Neues Turnier anlegen</button>
            <button id="btnSubmit" name="submit" class="orange-button" value="refresh">Spielerliste aktualisieren</button>
        </form>   
        <!-- The footer -->
        <div id="footer_bar">
        <h3>Copyright (c) 2019, <a href="http://www.fam-petzke.de">Thomas Petzke</a></h3>
        </div>
    </div>
  </body>
</html>
